
body {
    font-family: sans-serif;
}

div.section {
   background-color: lightcyan;
}

div.navbar {
    cursor: default;
}

span.tabheader {
    cursor: default;
}

span.tabheader:hover {
    border-bottom: 1px solid black;
}